<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/Collezioni/collezioni.css}" rel="stylesheet">
<div class="wrapper">
	<div class="container">
		<h1>Elenco Collezioni Museo</h1>
		<div class="image-zoom-container">
			<div class="zoom-container">
				<a href="#"> <span class="zoom-caption">
						<h3>Furniture</h3>
				</span> <img th:src="@{/images/collezioni/furniture.jpg}" />
				</a>
			</div>
			<div class="zoom-container">
				<a href="#"> <span class="zoom-caption">
						<h3>Paintings</h3>
				</span> <img th:src="@{/images/collezioni/paintings.jpg}" />
				</a>
			</div>
			<div class="zoom-container">
				<a href="#"> <span class="zoom-caption">
						<h3>Sculptures</h3>
				</span> <img th:src="@{/images/collezioni/Sculptures.jpg}" />
				</a>
			</div>
			<div class="zoom-container">
				<a href="#"> <span class="zoom-caption">
						<h3>Textiles</h3>
				</span> <img th:src="@{/images/collezioni/Textiles.jpg}" />
				</a>
			</div>

		</div>
	</div>

</div>
</html>